@using HR_Project.Application.IoC.Models.DTOs;
@using HR_Project.Common.Extensions;
@using HR_Project.Common.Models.DTOs;
@using HR_Project.Domain.Enum;
@model UpdateProfileDTO

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}

<form asp-action="Update">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Id" type="hidden" />
    <div class="container rounded bg-white mt-3 mb-5 ">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="@Model.ImagePath"><span class="font-weight-bold">@Model.Name</span><span class="text-black-50">@Model.Email</span><span> </span></div>
            </div>

            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profil Bilgilerim</h4>
                    </div>

                    <div class="row mt-2">
                        <input type="hidden" asp-for="Name">
                        <div class="col-md-6">
                            <label class="labels">Adı</label>
                            <input type="text" class="form-control" disabled="disabled" placeholder="adı" asp-for="Name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <input type="hidden" asp-for="Surname">
                        <div class="col-md-6">
                            <label class="labels">Soyadı</label>
                            <input type="text" class="form-control" disabled="disabled" placeholder="soyadı" asp-for="Surname">
                            <span asp-validation-for="Surname" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">Telefon Numarası</label>
                            <input type="text" class="form-control" placeholder="Telefon numaranızı giriniz" asp-for="PhoneNumber">
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>

                        <div class="col-md-12">
                            <label class="labels">Adres Satırı 1</label>
                            <input type="text" class="form-control" placeholder="Adres giriniz" asp-for="Address">
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>

                        <div class="col-md-12">
                            <label class="labels" asp-for="CityId">Şehir</label>
                            <select asp-for="CityId" id="CityId" asp-items="Model.CityList" class="form-control">
                                <option value="" selected disabled>Şehir seçiniz</option>
                            </select>
                            <span asp-validation-for="CityId" class="text-danger"></span>
                        </div>

                        <div class="col-md-12">
                            <label class="labels" asp-for="RegionId">İlçe</label>
                            <select asp-for="RegionId" id="RegionId" asp-items="Model.Regions" class="form-control">
                                <option value="" selected disabled>İlçe seçiniz</option>
                            </select>
                            <span asp-validation-for="RegionId" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Uyruk</label>
                                <select class="form-control" disabled="disabled" asp-for="Nation" asp-items="EnumHelper.GetEnumSelectList<Nation>()">
                                <option value="-1">Uyruk Giriniz</option>
                                </select>
                                <span asp-validation-for="Nation" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Doğum Tarihi</label>
                            <input type="date" class="form-control" placeholder="Doğum tarihi giriniz" asp-for="BirthDate" disabled="disabled">
                            <span asp-validation-for="BirthDate" class="text-danger"></span>

                        </div>

                        <div class="col-md-12">
                            <label class="labels">Kan Grubu</label>

                            @if (Model.BloodType != null)
                            {
                                <select class="form-control" disabled="disabled" asp-for="BloodType" asp-items="EnumHelper.GetEnumSelectList<BloodType>()">
                                    <option value="-1">Kan Grubunuzu Giriniz</option>
                                </select>
                                <span asp-validation-for="BloodType" class="text-danger"></span>
                            }
                            else
                            {
                                <select class="form-control" asp-for="BloodType" asp-items="EnumHelper.GetEnumSelectList<BloodType>()">
                                    <option value="-1">Kan Grubunuzu Giriniz</option>
                                </select>
                                <span asp-validation-for="BloodType" class="text-danger"></span>
                            }
                            

                        </div>

                    </div>
                    <input type="hidden" asp-for="HireDate">
                    <input type="hidden" asp-for="Title">
                    <input type="hidden" asp-for="Email">
                    <input type="hidden" asp-for="BloodType">
                    <input type="hidden" asp-for="DepartmentName">
                    <input type="hidden" asp-for="ManagerName">
                    <input type="hidden" asp-for="CompanyName">
                    <input type="hidden" asp-for="ImagePath">
                    <input type="hidden" asp-for="CompanyId">
                    <input type="hidden" asp-for="ManagerId">
                    <input type="hidden" asp-for="DepartmentId">
                    <input type="hidden" asp-for="Nation">
                    <input type="hidden" asp-for="Gender">
                    <input type="hidden" asp-for="BirthDate">
                    


                   
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience"><span>Ek Bilgiler</span></div><br>


                    <div class="col-md-12">
                        <label class="labels">Ünvan</label>
                        <input type="text" class="form-control" disabled="disabled" placeholder="Ünvan giriniz" asp-for="Title">
                        <span asp-validation-for="Title" class="text-danger"></span>

                    </div>

                    <div class="col-md-12">
                        <label class="labels">Email</label>
                        <input type="text" class="form-control" disabled ="disabled" placeholder="Email giriniz" asp-for="Email">
                        <span asp-validation-for="Email" class="text-danger"></span>

                        </div>
                    <div class="col-md-12">
                        <label class="labels">İşe Giriş Tarihi</label>
                        <input type="date"  class="form-control" disabled="disabled" placeholder="" asp-for="HireDate">
                        <span asp-validation-for="HireDate" class="text-danger"></span>

                    </div>
                    <div class="col-md-12">
                        <label class="labels">Yöneticisi</label>
                        <input type="text" disabled="disabled" class="form-control"  asp-for="ManagerName">
                        <span asp-validation-for="ManagerName" class="text-danger"></span>

                    </div>
                    <div class="col-md-12">
                        <label class="labels">Şirketi</label>
                        <input type="text" disabled="disabled" class="form-control"  asp-for="CompanyName">
                        <span asp-validation-for="CompanyName" class="text-danger"></span>

                    </div>
                    <div class="col-md-12">
                        <label class="labels">Departmanı</label>
                        <input type="text" disabled="disabled" class="form-control"  asp-for="DepartmentName">
                        <span asp-validation-for="DepartmentName" class="text-danger"></span>

                    </div>

                    
                </div>
            </div>
         
        </div>
        <div class="mt-5 text-center">
            <input type="submit" asp-action="Update" asp-controller="Personnel" value="Kaydet" class="btn btn-primary profile-button" />
        </div>
    </div>
</form>

@section Scripts {
    @if (TempData.ContainsKey("Toastrsuccess"))
    {
        <script>
            console.log('Toastr Başarı:', '@TempData["Toastrsuccess"]');
            toastr.success('@TempData["Toastrsuccess"]');
        </script>
    }

    @if (TempData.ContainsKey("Toastrerror"))
    {
        <script>
            toastr.error('@TempData["Toastrerror"]');
        </script>
    }
    }


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#CityId').change(function () {
            var selectedCityId = $(this).val();
            $.ajax({
                url: '/Personnel/GetRegions', 
                type: 'GET',
                data: { cityId: selectedCityId },
                success: function (data) {
                    
                    updateRegionsDropdown(data);
                },
                error: function () {
                    console.error('Error fetching İlçeler.');
                }
            });
        });

        function updateRegionsDropdown(regions) {
            var regionDropdown = $('#RegionId');
            regionDropdown.empty();
            regionDropdown.append($('<option>').val('').text('İlçe seçiniz'));
            $.each(regions, function (index, region) {
                regionDropdown.append($('<option>').val(region.value).text(region.text));
            });
        }
    });
</script>