@using HR_Project.Application.IoC.Models.DTOs;
@using HR_Project.Common.Extensions;
@using HR_Project.Common.Models.DTOs;
@using HR_Project.Domain.Enum;
@model UpdateProfileDTO

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}

<form asp-action="Update">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Id" type="hidden" />
    <div class="container rounded bg-white mt-3 mb-5 ">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">@Model.Name</span><span class="text-black-50">@Model.Email</span><span> </span></div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profil Bilgilerim</h4>
                    </div>

                    <div class="row mt-2">

                        <div class="col-md-6">
                            <label class="labels">Adı</label>
                            <input type="text" class="form-control" placeholder="adı" asp-for="Name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="col-md-6">
                            <label class="labels">Soyadı</label>
                            <input type="text" class="form-control" placeholder="soyadı" asp-for="Surname">
                            <span asp-validation-for="Surname" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">Telefon Numarası</label>
                            <input type="text" class="form-control" placeholder="Telefon numaranızı giriniz" asp-for="PhoneNumber">
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>

                        <div class="col-md-12">
                            <label class="labels">Adres Satırı 1</label>
                            <input type="text" class="form-control" placeholder="Adres giriniz" asp-for="Address">
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>

                        <div class="col-md-12">
                            <label class="labels">Şehir</label>
                            <input type="text" class="form-control" placeholder="Şehir giriniz" asp-for="City">
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>


                        <div class="col-md-12">
                            <label class="labels">İlçe</label>
                            <input type="text" class="form-control" placeholder="İlçe giriniz" asp-for="Region">
                            <span asp-validation-for="Region" class="text-danger"></span>
                        </div>

                        <div class="col-md-12">
                            <label class="labels">Doğum Tarihi</label>
                            <input type="date" class="form-control" placeholder="Doğum tarihi giriniz" asp-for="BirthDate" disabled="disabled">
                            <span asp-validation-for="BirthDate" class="text-danger"></span>

                        </div>

                        <div class="col-md-12">
                            <label class="labels">Kan Grubu</label>

                            @if (Model.BloodType != null)
                            {
                                <select class="form-control" disabled="disabled" asp-for="BloodType" asp-items="EnumHelper.GetEnumSelectList<BloodType>()">
                                    <option value="-1">Kan Grubunuzu Giriniz</option>
                                </select>
                                <span asp-validation-for="BloodType" class="text-danger"></span>
                            }
                            else
                            {
                                <select class="form-control" asp-for="BloodType" asp-items="EnumHelper.GetEnumSelectList<BloodType>()">
                                    <option value="-1">Kan Grubunuzu Giriniz</option>
                                </select>
                                <span asp-validation-for="BloodType" class="text-danger"></span>
                            }
                            

                        </div>

                    </div>
                    <input type="hidden" asp-for="HireDate">
@*                    <input type="hidden" asp-for="Department.Name">*@
                    <input type="hidden" asp-for="Title">
                    <input type="hidden" asp-for="Email">
                    <input type="hidden" asp-for="BloodType">

                    <div class="mt-5 text-center">
                        <input type="submit" asp-action="Update" asp-controller="Personnel" value="Kaydet" class="btn btn-primary profile-button" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience"><span>Ek Bilgiler</span></div><br>

@*                    <div class="col-md-12">
                        <label class="labels">Departman Adı</label>
                        <input type="text" class="form-control" disabled="disabled" placeholder="Departman adı" asp-for="Department.Name">
                        <span asp-validation-for="Department.Name" class="text-danger"></span>

                    </div>*@

                    <div class="col-md-12">
                        <label class="labels">Ünvan</label>
                        <input type="text" class="form-control" disabled="disabled" placeholder="Ünvan giriniz" asp-for="Title">
                        <span asp-validation-for="BloodType" class="text-danger"></span>

                    </div>

                    <div class="col-md-12">
                        <label class="labels">Email</label>
                        <input type="text" class="form-control" disabled ="disabled" placeholder="Email giriniz" asp-for="Email">
                        <span asp-validation-for="Email" class="text-danger"></span>

                        </div>
                    <div class="col-md-12">
                        <label class="labels">İşe Giriş Tarihi</label>
                        <input type="date" disabled="disabled" class="form-control" placeholder="" asp-for="HireDate">
                        <span asp-validation-for="HireDate" class="text-danger"></span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @if (TempData.ContainsKey("Toastrsuccess"))
    {
        <script>
            console.log('Toastr Başarı:', '@TempData["Toastrsuccess"]');
            toastr.success('@TempData["Toastrsuccess"]');
        </script>
    }

    @if (TempData.ContainsKey("Toastrerror"))
    {
        <script>
            toastr.error('@TempData["Toastrerror"]');
        </script>
    }
    }


