@using HR_Project.Common.Extensions;
@model List<AbsenceVM>

<div class="row">
	<div class="card shadow">
		<div class="card-body">
			<div class="table-responsive">
				<div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
				</div>
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
					<thead>
						<tr>

							<th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="LeaveTypes: activate to sort column ascending" style="width: 200px;">
								İzin Türü
							</th>
							<th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Reason: activate to sort column ascending" style="width: 700px;">
								Açıklama
							</th>
							<th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="StartDate: activate to sort column ascending" style="width: 200px;">
								Başlangıç Tarihi
							</th>
							<th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="EndDate: activate to sort column ascending" style="width: 200px;">
								Bitiş Tarihi
							</th>
							<th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="AbsenceDuration: activate to sort column ascending" style="width: 140px;">
								İzin Süresi
							</th>
							<th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Condition: activate to sort column ascending" style="width: 140px;">
								İşlemler
							</th>
							
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>

								<td>
									@item.LeaveTypes.GetDisplayName()
								</td>
								<td>
									@item.Reason
								</td>
								<td>
									@item.StartDate.ToShortDateString()
								</td>
								<td>
									@item.EndDate.ToShortDateString()
								</td>
								<td>
									@item.AbsenceDuration
								</td>
								<td>
									<a asp-action="Update" asp-route-id="@item.Id">Düzenle</a>
									|
									<a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
								</td>
							</tr>
						}

				</table>

			</div>
		</div>
	</div>
</div>